#slj {
	float: right;
	padding: 5px 10px;
	margin: 0;
	font-size: 12px;
	line-height: 1.6666;
}

.rtl #slj {
	float: left;
}
.block-editor-page #slj {
    display: none;
}
@media screen and (max-width: 782px) {
    #slj,
    .rtl #slj {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
}

